@use 'sass:color';

$alphas: (
  a25: 0.02,
  a50: 0.04,
  a75: 0.06,
  a100: 0.08,
  a150: 0.1,
  a200: 0.12,
  a300: 0.16,
  a400: 0.24,
  a500: 0.34,
  a550: 0.44,
  a600: 0.54,
  a700: 0.6,
  a800: 0.72,
  a900: 0.88,
);

@mixin color-alphas($name, $color) {
  @each $level, $alpha in $alphas {
    --#{$name}-#{$level}: #{color.change($color, $alpha: $alpha)};
  }
}

:root {
  --black-500: #000;
  @include color-alphas('black', #000);

  --white-500: #fff;
  @include color-alphas('white', #fff);

  --mono-a-500: #000;
  @include color-alphas('mono-a', #000);

  --mono-b-500: #fff;
  @include color-alphas('mono-b', #fff);

  @media (prefers-color-scheme: dark) {
    --mono-a-500: #fff;
    @include color-alphas('mono-a', #fff);

    --mono-b-500: #000;
    @include color-alphas('mono-b', #000);
  }
}
