.sb-table-container {
  font-family: monospace;
  overflow-x: auto;
  width: 100%;
}

.sb-table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border-bottom: 1px solid var(--es-mono-a-a150);
    padding: 16px;
    text-align: left;
    vertical-align: top;
  }

  thead tr {
    background-color: var(--es-mono-a-a50);
  }
}

.sb-table__description {
  margin-bottom: 4px;
}

.sb-table__code {
  background-color: var(--es-mono-a-a50);
  border: 1px solid var(--es-mono-a-a150);
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
}
